:root {
    --primary:#0c6410;
    --secondary: #f38ad4;
    --tirtiary: #b9c6ae;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fce6ce;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

header {
    Padding: 5px;
    padding-left: 50px;
    background-color: var(--primary);
    color: #ffffff;
    font-size: 150%;
}
nav {
    display: flex;
    background-color:var(--secondary);
    justify-content: flex-end;
    margin-left: 10%;
  }

nav a {
    color: var(--primary);
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    padding-inline-end: 50px;
}

nav a:hover {
    color: #ffffff;
  }


.sections {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
    color: #ffffff;
}


.Me {
    max-width: 30%;
    height:fit-content;
    
}

.sections p {
    font-size: 1.3em;
    display: block;
    max-width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.sections h2 {
    display: flex;
    float: right;
    align-items: center;
    margin: 30px;

}
.sections ul {
    font-size: 20px;
    align-items: center;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
    color: #ffffff;
}

.Work {
    max-width: 50%;
}
.Work:hover {
    border: 5px solid #f38ad4;
    max-width: 60%;
}

#Work-1 {
    max-width: 60%;
}

.Projects h3 {
    font-size: 20px;
    display: block;
}

.project-pic {
    flex: 1 0 300px; 
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background: var(--secondary);
    color: var(--primary);
    display: inline-block;
    width: 100%;
    height: 20px;
    font-weight: bolder;
  }

  
